<div class="col-md-offset-1 clearfix">
  <h5>Add/remove members</h5>
  <p>Enter the name of another LifeKite member, then add them to your members list.</p>
  <%= autocomplete_field_tag :user_username, '',
                             autocomplete_user_username_follwings_path,
                             :class => "membername-input",
                             :size => 35,
                             'data-auto-focus' => true
  %> <i class="fa fa-refresh fa-spin lk-kite-member-spinner"></i>
</div>

<script type="text/javascript">
  $('.membername-input').on('railsAutocomplete.select', function(event, data) {
    var item = data.item;

    if (item.id === '') {
      //happens when user selects the 'no matches found' option
      $('.membername-input').val('');
    } else {
      $.ajax({
        type: 'PUT',
        url: '<%= join_kite_path %>',
        dataType: 'json',
        data: {
          follwing: {
            user_id: item.id
          }
        },
        beforeSend: function() {
          $('.membername-input').attr('disabled', 'disabled');
          $('.lk-kite-member-spinner').show();
        }
      }).always(function() {
        $('#members-list').tagsinput('add', item);
        $('.membername-input').removeAttr('disabled').val('').focus();
        $('.lk-kite-member-spinner').hide();
      });
    }
  });
</script>
