<%= form_for(:follwing, :url => url_for(:controller => 'kites', :action => 'Join'), :method => :put, :remote => true, :html => {:class => "col-md-offset-1"}) do |f| %>

		<p>Enter the name of another LifeKite member, then add them to your members list.</p>
		<%= f.autocomplete_field :user_email, autocomplete_user_name_follwings_path,
			:id_element => ".idholder", :class => "membername-input" %>
		<%= f.hidden_field :user_id, :class => "idholder" %>
	<%= f.submit title, {:class => "create-button button like-button member-create" , disabled: true}%>

<% end %>
<script type="text/javascript">
	$('#follwing_user_email').val("");
	$('#follwing_user_id').val("");
	$('.member-create').prop('disabled',true);
	$('#follwing_user_email').bind('railsAutocomplete.select', function(event, data){
		  if($('#follwing_user_id').val() != "") {
		  	$('.member-create').prop('disabled',false);
		  } else {
		  	$('.member-create').prop('disabled',true);
		  }
	});
	$('#follwing_user_email').change(function(){
		if($('#follwing_user_email').text() != "") {
		  	$('.member-create').prop('disabled',false);
		  } else {
		  	$('#follwing_user_id').val("");
		  	$('.member-create').prop('disabled',true);
		  }
	});
</script>
