<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Your friend <%= @user.username %> has invited you to be one of a handful of people trying out a new 
	  site called LifeKite. LifeKite is an online tool that allows people to display compelling imagery 
	  of their life goals and aspirations (both big and small!) and to make connections with their social 
	  circles to help accomplish those goals.</p>

	<p>To begin using to the site, just follow this link: <%= link_to kites_path(:only_path => false), kites_path(:only_path => false) %>.</p> 
	<p>
		Creating an account is easy and free. Just click on the Sign Up button on the top bar. With an account, 
		you can get started on your “kites”. A kite is your life goal plus a chosen image that captures that goal
		and your imagination. You can use your kites to help you focus on your goals. You can share kites with 
		the friend who invited you – or even the LifeKite community.
	</p> 
	<p>
		To give us feedback, click on the Support button on the top bar.
	</p>
	<p>
		Thanks for trying out LifeKite and letting us send some wind your way!
	</p>
  </body>
</html>