/* Global
*********************************/
a {
	cursor: pointer;
	color: inherit;
	text-decoration: none;
}

html {
	font-family: 'Open Sans', sans-serif;
}

body {
	background: url('../graphics/background.png');
}

/* Compensate for fixed position bars */
.has-sidebar .wrapper {
	padding-left: 63px;
}

.has-navigation .wrapper {
	padding-top: 56px;
}

.has-footer .wrapper {
	padding-bottom: 215px;
}

h1, h2, h3, h4, h5, h6, ul {
	margin: 0;
}

.content:after, .content-header:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

/* Reused
*********************************/
.content-header {
	margin-left: 215px;
}

.page-title {
	font-family: 'Amaranth', sans-serif;
	color: #6a4256;
	font-size: 27px;
}

.kite {
	float: left;
	width: 215px;
	height: 215px;
	margin: 11px;
}

.kite .overlay {
	background: url('../graphics/kite-hover.png');
	position: relative;
	opacity: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	padding: 45px 20px 20px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	
	transition: all .2s;
}

.kite-name {
	font-family: 'Amaranth', sans-serif;
	font-size: 18px;
}

.kite:hover .overlay {
	display: block;
	opacity: 100;
}

.kite-byline {
	color: #fff;
	margin: 5px 0 0;
	font-weight: 300;
	font-size: 10px;
}

.author-link {
	text-decoration: underline;
}

.kite-likes {
	position: absolute;
	color: #fff;
	left: 10px;
	bottom: 20px;
	background: url('../graphics/small-icon-heart.png') left top no-repeat;
	padding-left: 30px;
	line-height: 24px;
	font-size: 11px;
	font-weight: bold;
}

.kite-likes .like-count {
	font-weight: 300;
}

.view-kite {
	position: absolute;
	bottom: 20px;
	right: 10px;
	background: url('../graphics/view-kite-arrow.png');
	width: 86px;
	height: 26px;
	color: #fff;
	font-weight: bold;
	font-size: 11px;
	line-height: 26px;
	text-align: left;

	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.view-kite-link {
	padding: 3px 21px 3px 16px;
}

/* Header
*********************************/
.site-logo {
	position: absolute;
	top: 10px;
	left: 63px;
	z-index: 200;
}

.site-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 56px;
	background-color: #6a4256;
	z-index: 100;
	
	box-shadow: 0 0 5px #000;
}

.header-controls {
	position: absolute;
	top: 13px;
	right: 24px;
}

.main-nav, .user-controls {
	float: left;
}

.main-nav {
	margin-top: 4px;
}

.nav-item {
	float: left;
	list-style-type: none;
	margin-right: 22px;
	color: #fff;
}

.user-controls {
	font-size: 13px;
}

.user-control {
	display: block;
	float: left;
	padding: 6px 13px;
	margin-right: 10px;
	text-transform: uppercase;
	color: #fff;
}

.log-in-button {
	background: #8f6078;
}

.sign-up-button {
	background: #f9b540;
	font-weight: bold;
}

/* Footer
*********************************/
.footer-tab {
	position: absolute;
	top: -45px;
	left: 33px;
	background-image: url('../graphics/secondary-background.png');
	background-position: top left;
	background-repeat: repeat;
	width: 150px;
	height: 45px;
	
	color: #ccd9d2;
	font-weight: bold;
	font-size: 14px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.footer-tab-link {
	display: block;
	padding: 13px 25px;
	background-position: 125px 22px;
	background-repeat: no-repeat;
}

.show-this-bar {
	background-image: url('../graphics/up-arrow.png');
}

.hide-this-bar {
	background-image: url('../graphics/down-arrow.png');
}

.page-footer .show-this-bar {
	display: none;
}

.page-footer.hidden .show-this-bar {
	display: block;
}

.page-footer.hidden .hide-this-bar {
	display: none;
}

.page-footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background: url('../graphics/secondary-background.png');
	padding: 15px 20px 10px;
	z-index: 100;
	height: 195px;
	
	transition: all .7s;
}

.page-footer.hidden {
	bottom: -220px;
}

.footer-box {
	float: left;
	padding: 10px 45px;
	border-right: 1px solid #808080;
	height: 175px;
}

.footer-box:last-child {
	border-right: none;
}

.stat-box, .feed-box .label-side {
	text-align: center;
}

.feed-box .label-side, .feed-box .feed-side {
	float: left;
}

.stat {
	color: #fff;
	font-size: 45px;
	font-weight: bold;
	margin: 16px 0 0;
	text-shadow: 2px 2px #000;
	line-height: 1em;
}

.label {
	font-weight: bold;
	margin: 10px 0 0;
	text-transform: uppercase;
	color: #fff;
}

.stat-new .label {
	color: #f9b540;
}

.stat-user-kites .label {
	color: #52999e;
}

.stat-completed .label {
	color: #b0cf4d
}

.kite-feed {
	list-style-type: none;
}

.kite-feed-item .headline {
	color: #fff;
	font-weight: 300;
	font-size: 16px;
}

.kite-feed-item {
	color: #acacac;
	font-weight: 300;
	font-size: 11px;
}

.kite-feed-item {
	padding: 13px 0;
	border-top: 1px solid #808080;
	border-bottom: 1px solid #808080;
}

.kite-feed .kite-feed-item:first-child {
	padding-top: 0;
	border: none;
}

.kite-feed .kite-feed-item:last-child {
	padding-bottom: 0;
	border: none;
}

/* Sidebar
*********************************/
.has-navigation .sidebar {
	margin-top: 56px;
}

.sidebar {
	background: url('../graphics/secondary-background.png');
	position: fixed;
	top: 0;
	left: 0;
	padding-top: 56px;
	background: #4f4f4f;
	height: 100%;
	width: 63px;
	
	box-shadow: 1px 0px 5px #000;

	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.sidebar-button {
	position: relative;
	width: 63px;
	height: 58px;
	background-position: center center;
	background-repeat: no-repeat;
	cursor: pointer;
}

.sidebar-button:hover {
	background-color: #6eb1b6;
}

.sidebar-button.profile {
	background-image: url('../graphics/small-icon-silhouette.png');
}

.sidebar-button.profile:hover {
	background-image: url('../graphics/small-icon-silhouette-active.png');
}

.sidebar-button.add-kite {
	background-image: url('../graphics/small-icon-new.png');
}

.sidebar-button.add-kite:hover {
	background-image: url('../graphics/small-icon-new-active.png');
}

.sidebar-button.kites {
	background-image: url('../graphics/small-icon-stacks.png');
}

.sidebar-button.kites:hover {
	background-image: url('../graphics/small-icon-stacks-active.png');
}

.sidebar-button.groups {
	background-image: url('../graphics/small-icon-people.png');
}

.sidebar-button.groups:hover {
	background-image: url('../graphics/small-icon-people-active.png');
}

.sidebar-button.help {
	background-image: url('../graphics/small-icon-help.png');
	position: absolute;
	bottom: 56px;
	left: 0;
}

.sidebar-button.help:hover {
	background-image: url('../graphics/small-icon-help-active.png');
}

.active-flag {
	color: #fff;
	background-image: url('../graphics/active-flag.png');
	background-color: #5d9faa;
	display: none;
	height: 58px;
	padding: 18px 30px 0 33px;
	font-size: 16px;
	text-transform: uppercase;
	white-space:nowrap;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.sidebar-button:hover .active-flag {
	position: absolute;
	top: 0;
	left: 52px;
	display: block;
}

/* Homepage
*********************************/

.home .content {
	padding: 20px 9px;
}

.page-title, .filter {
	float: left;
}

.page-title {
	margin-left: 23px;
}

.filter {
	position: relative;
}

.filter-list {
	position: absolute;
	top: 30px;
	left: 25px;
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.filter-button {
	background: url('../graphics/down-arrow.png') right center no-repeat;
	color: #ccd9d2;
	font-size: 14px;
	margin-top: 10px;
	margin-left: 29px;
	padding-right: 20px;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
}

.search {
	float: right;
	box-shadow: 1px 2px 3px #d7d7d7;
}

.search-input, .search-button {
	float: left;
}

.search-input {
	width: 194px;
	height: 36px;
	border: none;
	background: #fff;
	padding: 10px 14px;
	font-size: 13px;
	color: #b9b9b9;
	font-weight: 300;

	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.search-button {
	background: #fff;
}

/* Detail
*********************************/
.detail .wrapper {
	width: 100%;
	height: 100%;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.detail .content {	
	background-size: cover;

	width: 100%;
	height: 100%;
}

.kite-nav {
	background: url('../graphics/background.png');
	position: fixed;
	top: 0;
	right: 0;
	margin-top: 56px;
	width: 390px;
	height: 100%;
	
	box-shadow: -1px 0 5px #000;

	transition: all .7s;
}

.kite-nav.hidden {
	right: -390px;
}

.kite-nav-tab {
	position: absolute;
	background: url('../graphics/background.png');
	left: -50px;
	top: 70px;
	width: 50px;

	box-shadow: -3px 0 3px #000;
}

.kite-nav-button {
	width: 50px;
	height: 50px;
	background-position: center center;
	background-repeat: no-repeat;
	cursor: pointer;
}

.kite-nav-button:hover {
	background-color: #6a4256;
}

.kite-nav-button.info {
	background-image: url('../graphics/kite-nav-info.png');
}

.kite-nav-button.info:hover {
	background-image: url('../graphics/kite-nav-info-active.png');
}

.kite-nav-button.heart {
	background-image: url('../graphics/kite-nav-heart.png');
}

.kite-nav-button.heart:hover {
	background-image: url('../graphics/kite-nav-heart-active.png');
}

.kite-nav-button.comments {
	background-image: url('../graphics/kite-nav-comments.png');
}

.kite-nav-button.comments:hover {
	background-image: url('../graphics/kite-nav-comments-active.png');
}

.kite-nav-button.members {
	background-image: url('../graphics/kite-nav-members.png');
}

.kite-nav-button.members:hover {
	background-image: url('../graphics/kite-nav-members-active.png');
}

.kite-nav-button.show {
	display: none;
	background-image: url('../graphics/kite-nav-left-arrow.png');
}

.kite-nav-button.show:hover {
	background-image: url('../graphics/kite-nav-left-arrow-active.png');
}

.kite-nav.hidden .kite-nav-button.show {
	display: block;
}

.kite-nav-button.hide {
	background-image: url('../graphics/kite-nav-right-arrow.png');
}

.kite-nav-button.hide:hover {
	background-image: url('../graphics/kite-nav-right-arrow-active.png');
}

.kite-nav.hidden .kite-nav-button.hide {
	display: none;
}