body {
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top, #C8A3FF 0%, #002130 100%);
	
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #C8A3FF 0%, #002130 100%);
	
	/* Opera */ 
	background-image: -o-linear-gradient(top, #C8A3FF 0%, #002130 100%);
	
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #C8A3FF), color-stop(1, #002130));
	
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #C8A3FF 0%, #002130 100%);
	
	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #C8A3FF 0%, #002130 100%);
	    
}


#menu ul {
list-style-type: none;
display: inline;
height: 80px;
width: 663px;
margin: auto;
}

#menu li {
display: block;
float: right;
margin: 6px;
}

ul.hmenu a {
padding-right: 32px;
padding-left: 32px;
display: block;
line-height: 80px;
text-decoration: none;
font-family: Georgia, "Times New Roman", Times, serif;
font-size: 21px;
color: white;
}

ul.hmenu a:hover {
color: #FFF;
}



#footer
{
	clear: both;
	background: #222;
	text-align: right;
	padding-top: 20px;
	padding-bottom: 20px;
	height: 1%;
	-moz-border-radius: 15px;
    border-radius: 15px;
    color: white;
    margin-top: 10px;
}

#footer ul li
{
	list-style: none;
	display: inline;
	float: right;
}

#footer li a {
	display: block;
	float: left;
	padding: 5px 10px;
	text-decoration: none;
	color: white;
}

#container
{
	margin: 0 30px;
	margin-left: 60px;
    margin-right: 60px;
}

#header
{
	float: clear;
	background: #222;
	padding-top: 20px;
	padding-bottom: 20px;
	color: white;
    height: 75px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}



#Logo
{
	float: left;
	background: #222;
	color: white;
	width: 50%;
}

#menu
{
	align: right;
	float: right;
	width: 50%;
}
#login
{
	float: right;
}
#summary
{
	margin-top: 50px;
	float: left;
}

#summary ul li
{
	list-style: none;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 21px;
	color: #371C1C;
	line-height: 40px;
}

div.SectionGroup
{
	border: 3px solid gray;
	width: 200px;
	margin-left: 20px;
	background: #CCCCCC;
	-moz-border-radius: 15px;
    border-radius: 15px;
    opacity: 0.5;	
    -moz-box-shadow: 3px 3px 4px #000;
		-webkit-box-shadow: 3px 3px 4px #000;
		box-shadow: 3px 3px 4px #000;
		/* For IE 8 */
		-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
		/* For IE 5.5 - 7 */
		filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

div.SectionGroup h3 
{
	text-align: left;
	margin-left: 5px;
}

div.SectionGroup ul li
{
	list-style: none;
	margin-top: 5px;
}

div.SectionGroup img 
{
	max-width: 200px;
	max-height: 200px;
}



#kites {
	float: right;
	width: 48%;
	margin-left: 3%;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	min-width:481px;
	padding-left: 10px;
	padding-right: 10px;
}

#Groups, #Invites, #KiteStrings {
	float: left;
	clear: left;
	margin-top: 10px;
	margin-bottom: 10px;	
}

#showcaseHolder {
	border-radius: 15px;
	border: 1px solid gray;
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top, #444444 0%, #999999 100%);
	
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #444444 0%, #999999 100%);
	
	/* Opera */ 
	background-image: -o-linear-gradient(top, #444444 0%, #999999 100%);
	
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #444444), color-stop(1, #999999));
	
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #444444 0%, #999999 100%);
	
	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #444444 0%, #999999 100%);
	min-height: 100%;
    height: auto !important;
    margin-bottom: -75px;
    margin-top: 10px;
    margin-left: auto;
	margin-right: auto;
	display: block;
}

#showcase {
	background: #C0C0C0;
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
	vertical-align: middle;
	border: 1px solid gray;
	background-repeat:no-repeat; 
	background-position: center;
	-moz-border-radius: 15px;
    border-radius: 15px;
    min-height: 100%;
    height: auto !important;
}

#showcase li {
	list-style: none;
}

#showcase li span {
	display: block;
}
/*\*//*/
#showcase {
	display: block;
}
#showcase span {
	display: inline-block;
	height: 100%;
	width:1px;
}
/**/

#showcase img {
	margin-left: auto;
	margin-right: auto;
	display: block;
	background-color: white;
	-moz-box-shadow: 3px 3px 4px #000;
		-webkit-box-shadow: 3px 3px 4px #000;
		box-shadow: 3px 3px 4px #000;
		/* For IE 8 */
		-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
		/* For IE 5.5 - 7 */
		filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}
#kitesInner {
	float:left;
	overflow: hidden;
}
#kiteContainerUl {
	position:relative;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	height: 9999px;
	overflow: hidden;
}

#kiteContainerUl li{
	width:200px;
	padding:0px;
	margin-top:10px;
	margin-bottom:10px;
	margin-left:5px;
	margin-right:5px;
}
#kiteContainerUl li img {
	.margin-bottom: -4px;
	cursor: pointer;
	cursor: hand;
	border: 0px;
}
#left_scroll, #right_scroll{
	float:left;
	height:175px;
	width:30px;
	background: #C0C0C0;
	cursor: pointer;
	cursor: hand;
	margin-top:10px;
}
#left_scroll {
	background-image:url('/images/scrollLeft.png');
}

#right_scroll {
	background-image:url('/images/scrollRight.png');
}

#kiteCreateImage {
	width: 100%;
}

#kiteCreateDescription input {
  width:300px;
  height: 100px;
}

#kiteDesc {
	color: white;
}

#content-container2
{
	margin: 0 auto;
	height: 900px;
}

#content-container3
{
	float: left;
	height: 900px;
	background: #FFF;
}

#bContent
{
	clear: left;
	float: left;
	height: 200px;
	padding: 20px 0;
	margin: 0 0 0 30px;
	display: inline;
}

#kContent
{
	float: right;
	height: 560px;
	padding: 20px 0;
	margin: 0 20px 0 0;
	display: inline;
}

#moreinfo
{
	-moz-border-radius: 15px;
    border-radius: 15px;
    background: rgb(1,1,1);
    align: left;
    background: rgba(1,1,1,0.6);
    margin-left: 60px;
    -moz-box-shadow: 3px 3px 4px #000;
		-webkit-box-shadow: 3px 3px 4px #000;
		box-shadow: 3px 3px 4px #000;
		/* For IE 8 */
		-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
		/* For IE 5.5 - 7 */
		filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

.groupList ul
{
	margin-bottom:20px;
	overflow-y:hidden;
	border-top:1px solid #ccc;
}

.groupList li
{
	line-height: 1.5em;
	border-bottom:1px solid #ccc;
	float: left;
	display:inline;
	width: 90%;
}

/*double li { width:40%;}
#tripple li {width: 33.333%;}
#quad li { width: 25%;}
*/
.ui-selecting { background: #FECA40; }
.ui-selected { background: #4088B8; color: white; }

#groupSearch, #kitestringSearch {
	display: table-row;
}

.previous_page {
	float: left !important;
}

.next_page {
	float: right !important;
}

.thumbnails {
	text-align: center !important;
}

.thumbnails > li {
	display: inline-block !important;
	*display: inline;
	float: none !important;
}

.pagination {
	text-align: center;
	padding: 0.3em;
	cursor: default;
	height: 75px;
	color: #ffffff;
}

.pagination a, .pagination span, .pagination em {
	padding: 0.5em 0.5em;
	border: 2px solid gray;
	border-radius: 10px;
	text-decoration: none;
	background: #cdcdcd;
	color: dark gray;
}

.pagination a {
	border: 2px solid gray;
	border-radius: 10px;
	text-decoration: none;
	background: #cdcdcd; 

.pagination .disabled {
	border: 2px solid gray;
	border-radius: 10px;
	text-decoration: none;
	background: #a0a0a0;
	color: #cdcdcd;
}

.pagination .current {
	font-style: normal;
	font-weight: bold;
	color: #ffffff;
}

}
.pagination a:hover, .pagination a:focus {
	border-color: #000066;
	color: black;
	background: #cdcdcd !important;
}

#mbody {
	margin-top: 10px;
	margin-right: 15px;
    border-radius: 10px;
    padding: 5px;
 	padding-bottom: 95px;
 	width: 99%;

	/* IE10 Consumer Preview */ 
	/* background-image: -ms-linear-gradient(top, #C8A3FF 0%, #002130 100%);
	
	/* Mozilla Firefox */ 
	/* background-image: -moz-linear-gradient(top, #C8A3FF 0%, #002130 100%);
	
	/* Opera */ 
	/* background-image: -o-linear-gradient(top, #C8A3FF 0%, #002130 100%);
	
	/* Webkit (Safari/Chrome 10) */ 
	/* background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #C8A3FF), color-stop(1, #002130));
	
	/* Webkit (Chrome 11+) */ 
	/* background-image: -webkit-linear-gradient(top, #C8A3FF 0%, #002130 100%);
	
	/* W3C Markup, IE10 Release Preview */ 
	/* background-image: linear-gradient(to bottom, #C8A3FF 0%, #002130 100%);*/
	    
}

.controlbar {
	border-radius: 10px;
	border: 1px solid gray;
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top, #444444 0%, #999999 100%);
	
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #444444 0%, #999999 100%);
	
	/* Opera */ 
	background-image: -o-linear-gradient(top, #444444 0%, #999999 100%);
	
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #444444), color-stop(1, #999999));
	
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #444444 0%, #999999 100%);
	
	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #444444 0%, #999999 100%);
	    
}

.controlbar div {
	margin-top: 5px;
	margin-left: 5px;
}

.controlbar form {
	margin-bottom: 0px !important;	
}

.input-append .btn {
	height: 30px;
	border-bottom-right-radius: 15px !important;
	border-top-right-radius: 15px !important;
	margin-left: -10px !important;
}

.kitesample {
	border: 1px solid black;
	border-radius: 10px;
	height: 100px;
	color: white;
	vertical-align: middle;
	background-image: -ms-linear-gradient(top, #444444 0%, #999999 100%);
	
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #444444 0%, #999999 100%);
	
	/* Opera */ 
	background-image: -o-linear-gradient(top, #444444 0%, #999999 100%);
	
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #444444), color-stop(1, #999999));
	
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #444444 0%, #999999 100%);
	
	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #444444 0%, #999999 100%);
}

.kitesample li {
	margin-top: 5px;
	float: left;
}

.kitesample li img {
	width: 160px;
	height: 75px;
}

.groupmember {
	margin: 20px;
}