.kite {
	background: url('/images/sample-kite.jpg');
}

.detail .content {	
	background-image: url('/images/sample-large-kite-background.jpg');
}

.members li, .author-info li {
	background: url('/images/sample-member-portrait.png') no-repeat 5px center;
}