/* Global
*********************************/
a {
	cursor: pointer;
	color: inherit;
	text-decoration: none;
}

html {
	font-family: 'Open Sans', sans-serif;
}

body {
	background-image: url('/images/background.png');
	padding: 0;
	margin: 0;
}

/* Compensate for fixed position bars */
.has-sidebar.wrapper {
	padding-left: 63px;
}

.has-navigation.wrapper {
	padding-top: 56px;
}

.has-footer.wrapper {
	padding-bottom: 215px;
}

h1, h2, h3, h4, h5, h6, ul {
	margin: 0;
}

.content:after, .content-header:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

/* Reused
*********************************/
.content-header {
	margin-left: 215px;
}

h1 {
	font-family: 'Amaranth', sans-serif;
	color: #6a4256;
	font-size: 27px;
}

.kite {
	float: left;
	width: 215px;
	height: 215px;
	margin: 11px;
}

.kite .overlay {
	background: url('/images/kite-hover.png');
	position: relative;
	opacity: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	padding: 45px 20px 20px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	
	transition: all .2s;
}

.kite-name {
	font-family: 'Amaranth', sans-serif;
	font-size: 18px;
	color: #000;
}

.kite:hover .overlay {
	display: block;
	opacity: 100;
}

.kite-byline {
	color: #fff;
	margin: 5px 0 0;
	font-weight: 300;
	font-size: 10px;
}

.author-link {
	text-decoration: underline;
}

.kite-likes {
	position: absolute;
	color: #fff;
	left: 10px;
	bottom: 20px;
	background: url('/images/small-icon-heart.png') left top no-repeat;
	padding-left: 30px;
	line-height: 24px;
	font-size: 11px;
	font-weight: bold;
}

.kite-likes .like-count {
	font-weight: 300;
}

.view-kite {
	position: absolute;
	bottom: 20px;
	right: 10px;
	background: url('/images/view-kite-arrow.png');
	width: 86px;
	height: 26px;
	color: #fff;
	font-weight: bold;
	font-size: 11px;
	line-height: 26px;
	text-align: left;

	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.view-kite-link {
	padding: 3px 21px 3px 16px;
}

/* Form styles */

.form-header {
	font-family: 'Amaranth', sans-serif;
	font-weight: normal;
	color: #b0cf4d;
	margin-bottom: 20px;
	font-size: 34px;
}

.form-header-type-2 {
	font-family: 'Amaranth', sans-serif;
	font-weight: normal;
	color: #6a4256;
	margin-bottom: 20px;
	font-size: 30px;
	text-align: left;
	margin: 0;
}

.form input[type="text"], .form input[type="file"], .form input[type="password"], .form select, .form textarea {
	width: 100%;
	height: 48px;
	font-size: 18px;
	color: #5d5d5d;
	border: none;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 8px;
	
	border-top: 1px solid #cecece;
	border-left: 1px solid #cecece;
	box-shadow: 1px 1px 1px #eee inset;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.form textarea {
	padding-top: 8px;
	padding-bottom: 8px;
	height: 96px;
}

.form option {
	background: #fff;
}

.form .button {
	padding: 10px 25px;
	border: 0;
	background-color: #b0cf4d;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 20px;
	margin-top: 20px;
	letter-spacing: 1px;
	cursor: pointer;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.form .add-button {
	text-transform: none;
	height: 48px;
	padding: 10px 25px;
	margin: 0;
	font-weight: normal;
	border-radius: 10px;
}

.or {
	display: block;
	margin: 20px auto;
}

.padded-form input, .padded-form select, .padded-form textarea, .padded-form .button {
	margin: 10px 0;
}

/* 2 Column Form */
.column-1, .column-2 {
	float: left;
	width: 50%;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.column-1 {
	padding-right: 25px;
}

.column-2 {
	padding-left: 25px;
}

/* Header
*********************************/
.site-logo {
	position: absolute;
	top: 10px;
	left: 63px;
	z-index: 200;
}

.site-header {
	color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 56px;
	background-color: #6a4256;
	z-index: 100;
	
	box-shadow: 0 0 5px #000;
}

.header-controls {
	position: absolute;
	top: 13px;
	right: 24px;
}

.main-nav, .user-controls {
	float: left;
}

.main-nav {
	margin-top: 4px;
}

.nav-item {
	float: left;
	list-style-type: none;
	margin-right: 22px;
	color: #fff;
}

.logged-in {
	display: none;
}

.logged-in {
	font-size: 14px;
	margin-top: 6px;
	margin-left: 40px;
}

.username {
	font-weight: bold;
	color: #ffb524;
}

.user-controls {
	font-size: 13px;
}

.user-control {
	float: left;
	list-style-type: none;
}

.user-control a {
	display: block;
	padding: 6px 13px;
	margin-right: 10px;
	text-transform: uppercase;
	color: #fff;
}

.log-in-button a {
	background: #8f6078;
}

.sign-up-button a {
	background: #f9b540;
	font-weight: bold;
}

/* Footer
*********************************/
.footer-tab {
	position: absolute;
	top: -45px;
	left: 33px;
	background-image: url('/images/secondary-background.png');
	background-position: top left;
	background-repeat: repeat;
	width: 150px;
	height: 45px;
	
	color: #ccd9d2;
	font-weight: bold;
	font-size: 14px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.footer-tab-link {
	display: block;
	padding: 13px 25px;
	background-position: 125px 22px;
	background-repeat: no-repeat;
}

.show-this-bar {
	background-image: url('/images/up-arrow.png');
}

.hide-this-bar {
	background-image: url('/images/down-arrow.png');
}

.page-footer .show-this-bar {
	display: none;
}

.page-footer.hidden .show-this-bar {
	display: block;
}

.page-footer.hidden .hide-this-bar {
	display: none;
}

.page-footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background: url('/images/secondary-background.png');
	padding: 15px 20px 10px;
	z-index: 100;
	height: 195px;
	
	transition: all .7s;
}

.page-footer.hidden {
	bottom: -220px;
}

.footer-box {
	float: left;
	padding: 10px 45px;
	border-right: 1px solid #808080;
	height: 175px;
}

.footer-box:last-child {
	border-right: none;
}

.stat-box, .feed-box .label-side {
	text-align: center;
}

.feed-box .label-side, .feed-box .feed-side {
	float: left;
}

.stat {
	color: #fff;
	font-size: 45px;
	font-weight: bold;
	margin: 16px 0 0;
	text-shadow: 2px 2px #000;
	line-height: 1em;
}

.label {
	font-weight: bold;
	margin: 10px 0 0;
	text-transform: uppercase;
	color: #fff;
}

.stat-new .label {
	color: #f9b540;
}

.stat-user-kites .label {
	color: #52999e;
}

.stat-completed .label {
	color: #b0cf4d
}

.kite-feed {
	list-style-type: none;
}

.kite-feed-item .headline {
	color: #fff;
	font-weight: 300;
	font-size: 16px;
}

.kite-feed-item {
	color: #acacac;
	font-weight: 300;
	font-size: 11px;
}

.kite-feed-item {
	padding: 13px 0;
	border-top: 1px solid #808080;
	border-bottom: 1px solid #808080;
}

.kite-feed .kite-feed-item:first-child {
	padding-top: 0;
	border: none;
}

.kite-feed .kite-feed-item:last-child {
	padding-bottom: 0;
	border: none;
}

/* Sidebar
*********************************/
.has-navigation .sidebar {
	margin-top: 56px;
}

.sidebar {
	background: url('/images/secondary-background.png');
	position: fixed;
	top: 0;
	left: 0;
	padding-top: 56px;
	background: #4f4f4f;
	height: 100%;
	width: 63px;
	
	box-shadow: 1px 0px 5px #000;

	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.sidebar-button {
	position: relative;
	width: 63px;
	height: 58px;
	background-position: center center;
	background-repeat: no-repeat;
	cursor: pointer;
}

.sidebar-button:hover {
	background-color: #6eb1b6;
}

.sidebar-button.profile {
	background-image: url('/images/small-icon-silhouette.png');
}

.sidebar-button.profile:hover {
	background-image: url('/images/small-icon-silhouette-active.png');
}

.sidebar-button.add-kite {
	background-image: url('/images/small-icon-new.png');
}

.sidebar-button.add-kite:hover {
	background-image: url('/images/small-icon-new-active.png');
}

.sidebar-button.kites {
	background-image: url('/images/small-icon-stacks.png');
}

.sidebar-button.kites:hover {
	background-image: url('/images/small-icon-stacks-active.png');
}

.sidebar-button.groups {
	background-image: url('/images/small-icon-people.png');
}

.sidebar-button.groups:hover {
	background-image: url('/images/small-icon-people-active.png');
}

.sidebar-button.help {
	background-image: url('/images/small-icon-help.png');
	position: absolute;
	bottom: 56px;
	left: 0;
}

.sidebar-button.help:hover {
	background-image: url('/images/small-icon-help-active.png');
}

.sidebar-button .active-flag {
	color: #fff;
	background-image: url('/images/active-flag.png');
	background-color: #5d9faa;
	display: none;
	height: 58px;
	padding: 18px 30px 0 33px;
	font-size: 16px;
	text-transform: uppercase;
	white-space: nowrap;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.sidebar-button:hover .active-flag {
	position: absolute;
	top: 0;
	left: 52px;
	display: block;
}

/* Homepage
*********************************/

.home .content {
	padding: 20px 9px;
}

.page-title, .filter {
	float: left;
}

.page-title {
	margin-left: 23px;
}

.filter {
	position: relative;
}

.filter-list {
	position: absolute;
	top: 30px;
	left: 25px;
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.filter-button {
	background: url('/images/down-arrow.png') right center no-repeat;
	color: #ccd9d2;
	font-size: 14px;
	margin-top: 10px;
	margin-left: 29px;
	padding-right: 20px;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
}

.search {
	float: right;
	box-shadow: 1px 2px 3px #d7d7d7;
}

.search-input, .search-button {
	float: left;
}

.search-input {
	width: 194px;
	height: 36px;
	border: none;
	background: #fff;
	padding: 10px 14px;
	font-size: 13px;
	color: #b9b9b9;
	font-weight: 300;

	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.search-button {
	background: #fff;
}

/* Detail
*********************************/
.detail.wrapper {
	width: 100%;
	height: 100%;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.detail .content {	
	background-size: cover;

	width: 100%;
	height: 100%;
}

.kite-nav {
	background: url('/images/background.png');
	position: fixed;
	top: 0;
	right: 0;
	padding-top: 56px;
	width: 390px;
	height: 100%;
	
	box-shadow: -2px 0 3px rgba(0, 0, 0, .5);

	transition: all .7s;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.kite-nav.hidden {
	right: -390px;
}

.kite-nav-tab {
	position: absolute;
	background: url('/images/background.png');
	left: -50px;
	top: 70px;
	width: 50px;

	box-shadow: -2px 0 3px rgba(0, 0, 0, .5);
}

.kite-nav-button, .kite-nav-toggle {
	position: relative;
	width: 50px;
	height: 50px;
	background-position: center center;
	background-repeat: no-repeat;
	cursor: pointer;
}

.kite-nav-button:hover, .kite-nav-button.active, .kite-nav-toggle:hover {
	background-color: #6a4256;
}

/* Kite Nav Buttons */
.kite-nav-button.info {
	background-image: url('/images/kite-nav-info.png');
}
.kite-nav-button.info:hover, .kite-nav-button.info.active {
	background-image: url('/images/kite-nav-info-active.png');
}
.kite-nav-button.heart {
	background-image: url('/images/kite-nav-heart.png');
}
.kite-nav-button.heart:hover, .kite-nav-button.heart.active {
	background-image: url('/images/kite-nav-heart-active.png');
}
.kite-nav-button.comments {
	background-image: url('/images/kite-nav-comments.png');
}
.kite-nav-button.comments:hover, .kite-nav-button.comments.active {
	background-image: url('/images/kite-nav-comments-active.png');
}
.kite-nav-button.members {
	background-image: url('/images/kite-nav-members.png');
}
.kite-nav-button.members:hover, .kite-nav-button.members.active {
	background-image: url('/images/kite-nav-members-active.png');
}
.kite-nav-toggle.show {
	display: none;
	background-image: url('/images/kite-nav-left-arrow.png');
}
.kite-nav-toggle.show:hover {
	background-image: url('/images/kite-nav-left-arrow-active.png');
}
.kite-nav.hidden .kite-nav-toggle.show {
	display: block;
}
.kite-nav-toggle.hide {
	background-image: url('/images/kite-nav-right-arrow.png');
}
.kite-nav-toggle.hide:hover {
	background-image: url('/images/kite-nav-right-arrow-active.png');
}
.kite-nav.hidden .kite-nav-toggle.hide {
	display: none;
}

/* Kite Nav Layout */
.kite-nav-header {
	padding: 0 6px 25px;
	border-bottom: 1px solid #cccccc;
}

.kite-nav-content {
	position: relative;
	padding: 63px 18px 18px;
	width: 356px;
	height: 100%;
	overflow: auto;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.detail-kite-title {
	font-size: 32px;
}

.kite-nav-content-section {
	padding: 15px 6px 0;
	border-bottom: 1px solid #cccccc;
}

.kite-nav-content h3, .kite-nav-content p {
	color: #404040;
	font-size: 13px;
}

.kite-nav-content .dateline {
	font-size: 13px;
	color: #9f9f9f;
	margin-bottom: 0;
}

.kite-nav-content h2 {
	text-align: center;
	text-transform: uppercase;
	font-size: 17px;
	padding: 15px 0;
	letter-spacing: 1px;
	border-bottom: 1px solid #cccccc;
	color: #52999e;
}

.kite-nav-content h3 {
	text-transform: uppercase;
	margin-bottom: 1em;
}

.kite-nav .active-flag {
	background: url('/images/detail-active-flag.png');
	position: absolute;
	top: 16px;
	left: 50px;
	width: 9px;
	height: 19px;
	display: none;
}

.kite-nav-button.active .active-flag {
	display: block;
}

.detail-section {
	margin: 0;
	color: #444444;
}

.kite-settings {
	position: absolute;
	top: 13px;
	right: 9px;
}

/* jScroll Bar */

.jspVerticalBar {
	width: 10px;
}

.jspTrack {
	background-color: #939598;
}

.jspDrag {
	background-color: #4f4f4f;
}

/* Info */
.additional-images img {
	max-width: 100%;
	margin-bottom: 14px;
}

/* Member List */

.user-list {
	list-style-type: none;
	padding: 0;
}

.user-list li {
	border-bottom: 1px solid #cccccc;
	padding: 9px 10px 9px 42px;
}

.user-list li:last-child {
	border: none;
}

.user-list .name {
	font-weight: bold;
	font-size: 16px;
}

.user-list .details {
	font-size: 11px;
}

/* Support */
.kite-nav-content .support h2 {
	color: #f1837c;
}

.hearts li {
	background: url('/images/small-icon-heart.png') no-repeat 5px center;
}

/* Comments */
.comment {
	padding-top: 19px;
	padding-bottom: 15px;
	border-bottom: 1px solid #cccccc;
}

.comments .comment:last-child {
	border: none;
}

.comment-content {
	position: relative;
	background: url('/images/small-icon-comment.png') 5px 5px no-repeat;
	padding-left: 42px;
}

.comment .options {
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
}

.comment .options .option-arrow {
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px 8px 6px;
	margin: 1px;
	z-index: 20;
}

.comment .options .the-options {
	position: absolute;
	top: 26px;
	right: 0;
	width: 128px;
	padding: 3px 5px;
	border: 1px solid #cecece;
	display: none;
	background-color: #fff;
	z-index: 10;

	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.comment .options .the-options ul {
	padding: 0;
}

.comment .options .the-options li {
	padding: 5px 8px;
	list-style-type: none;
	font-size: 10px;
	color: #444444;
	border-bottom: 1px solid #e2e2e2;
}

.comment .options .the-options li:last-child {
	border-bottom: none;
}

.comment .options.active .option-arrow {
	background-color: #fff;
	border-width: 1px 1px 0;
	border-color: #cecece;
	border-style: solid;
	margin: 0;
}

.comment .options.active .the-options {
	display: block;
}

.comment .title {
	font-size: 16px;
	font-weight: bold;
}

.comment .date {
	font-size: 11px;
	font-weight: 300;
}

.comment .the-comment {
	padding-bottom: 18px;
	margin-top: 14px;

	font-size: 12px;
	font-weight: 300;
}

.author-info {
	padding-left: 35px;
}

.author-info li {
	position: relative;
	padding-left: 67px;
}

.author-info .reply {
	position: absolute;
	bottom: 5px;
	right: 16px;
}

/* Members */
.members li {
	position: relative;
	padding-left: 67px;
}

.members li:hover {
	background-color: #fff;
}

.delete {
	position: absolute;
	display: none;
	top: 20px;
	right: 16px;
}

.members li:hover .delete {
	display: block;
}

/* Login
*********************************/

.login .content {
	width: 355px;
	margin: 95px auto 0;
	text-align: center;
}

.logo-color {
	margin-bottom: 40px;
}

.wrapper.login, .wrapper.signup {
	background-image: url('/images/big-logo-background.png'), url('/images/background.png');
	background-position: bottom left, top left;
	background-repeat: no-repeat, repeat;
	background-size: 70% 70%, auto auto;
	min-height: 100%;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.form .login-button {
	width: 120px;
	margin: 20px auto 0;
}

.form .signup-button {
	width: 136px;
	margin: 20px auto 0;
}

/* Create a new kite
*********************************/
.create .content {
	width: 800px;
	margin: 75px auto 0;
	text-align: center;
}

.form .add-image {
	margin-top: 30px;
	margin-bottom: 20px;
	width: 200px;
	background-color: #6a4256;
}

.form .image-upload-field {
	margin-top: 30px;
}

.form .add-members {
	width: 210px;
	background-color: #6a4256;
}

.form .create-button {
	width: 130px;
	float: right;
}

.make-private {
	float: left;
}

.make-private label {
	color: #64667b;
	margin-left: 10px;
	font-size: 13px;
}