<div class="privacy col-md-offset-1">
  <div class="is-public <%= 'hidden' if kite.private? %>">
    <div class="active">
      <i class="fa fa-unlock fa-lg"></i> Public
    </div>
    <div class="clickable">
      <%= link_to kite_path(@kite, {:kite => {:sharelevel => "private"}}), :method => :put, :remote => true do %>
        <i class="fa fa-lock fa-lg"></i> Private
      <% end %>
    </div>
  </div>

  <div class="is-private <%= 'hidden' if kite.public? %>">
    <div class="clickable">
      <%= link_to kite_path(@kite, {:kite => {:sharelevel => "public"}}), :method => :put, :remote => true do %>
        <i class="fa fa-unlock fa-lg"></i> Public
      <% end %>
    </div>
    <div class="active">
      <i class="fa fa-lock fa-lg"></i> Private
    </div>
  </div>
</div>
