<%= stylesheet_link_tag :all %>
<h1>Update Kite Description</h1>

<%= render 'formEdit' %>

<%= link_to 'Cancel', @kite, :class => "create-button button"%> 
<%= link_to 'Delete this kite', @kite, :confirm => 'Are you sure you want to delete this kite?', :method => :delete, :class => "create-button button"%>
