<div class="content lk-index">
	<div class="lk-header">
		<h1><%= @function%></h1>
	</div>
	<div class="lk-kites">
		<!-- Begin kite -->
		<%= render @kites, size: :thumb %>
		<!-- End kite -->
		<div class="hidden">
			<%= will_paginate @kites %>
		</div>
	</div>
</div>
