<% if !current_user.nil? && @kite.user.id == current_user.id %>
<div class="wrapper detail has-sidebar has-navigation">
<% else %>
<div class="wrapper detail has-navigation">
<%end%>
	<div class="content" style="background-image: url('<%= @kite.ImageLocation %>'); position: absolute; bottom: 0; width: 100%; height: 100%; z-index:-1;">
		<%= render :partial => 'kiteDetails', :object => @kite %>
	</div>
</div>

