<link type="text/css" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" rel="stylesheet" media="all" />
<% if !current_user.nil? && @kite.user.id == current_user.id %>
<div class="wrapper detail has-sidebar has-navigation">
<% else %>
<div class="wrapper detail has-navigation">
<%end%>
	<div class="content" style="background-image: url('<%= @kite.kiteimage.url %>'); position: absolute; bottom: 0; width: 100%; height: 100%; z-index:-1;">
		<%= render :partial => 'kiteDetails', :object => @kite %>
	</div>
</div>


