<li class="kite-feed-item kite-feed-comment notification-<%= notification.id %>">
  <span class="headline"><%= h link_to notification.message, notification.link %></span>
  <span class="details"><%= h link_to notification.user.KosherUsername, userPublicKitesIndex_kites_path(:username => notification.user.username) %></span>
  <%= link_to "Clear", notification, :method => :delete, :remote => true, :disable_with => "Clearing...", :class => "delete-link" %>
</li>