<h1>Listing groups</h1>

<div id="groupSearch" class="span3 form-search form-inline">
	<%= render :partial => 'groups/search' %>
</div>

<% if @groups.count ==0 %>
	<p>No records found matching your criteria</p>
<% else %>
	<table class="table table-bordered table-striped">
	  <tr>
	    <th>Name</th>
	    <th></th>
	    <th></th>
	    <th></th>
	  </tr>
	
	<% @groups.each do |group| %>
	  <tr>
	    <td><%= group.name %></td>
	    <td><%= link_to 'Show', group %></td>
	  </tr>
	<% end %>
	</table>
<% end %>


