<div class="wrapper has-navigation <%if current_user %>has-sidebar<%end%>">
	<div class="content">
		<%= form_for(@user, url: {action: "invite"}) do %>
		  <p>Who would you like to invite?</p>
		  <%= label_tag :email, "Email:"%>
		  <%= email_field_tag :email %>
		  <%= submit_tag "Send an Invitation" %>
		<% end %>
	</div>
</div>
