<div id="homeModal" class="modal hide fade">
	<div class="modal-header">
		<button type="button class="close" data-dismiss="modal" aria-hidden="true"></button>
		<h3>About LifeKite</h3>
	</div>
	<div class="modal-body">
		<p>We wanted a way to display our life goals, our purposes and hearts desires simply, visually, beautifully.
		  We also wanted to be able to share those goals with our friends and family - all our circles - to get those
		   goals off the ground.  We created LifeKite so that our life goals aren't stuck on a piece of paper in a drawer
		    somewhere forgotten - but up and out in the world -- in vivid, tempting imagery before our eyes.  
		    We created LifeKite so that our life goals are out where our people can see them and can send some 
		    wind our way.</p>
	</div>
	<div class="modal-footer">
		<button class="close" data-dismiss="modal" aria-hidden="true">Close</button>
	</div>
</div>
