<div class="wrapper home has-navigation has-footer <%if current_user %>has-sidebar<%end%>">
	<div class="content">
		<div class="content-header">
			<h1 class="page-title">About Lifekite</h1>
			<%= render "layouts/search"%>
		</div>
	<div class="content">
		<p>Picture it. Launch it. Live it. </p><p>LifeKite invites you to aspire. It’s a social vision board 
			and launch pad for picturing, launching and living your juicy life goals – either 
			personally, or with your community. From upping your fitness, to learning to play an 
			instrument, traveling the world, or healing the planet — LifeKite is a place to rise to 
			live a life you love – with purpose. Envision your dream, log your progress, gain “wind”
			from a circle of supporters, and enjoy a community that aspires together.
		</p>
	</div>
</div>
	
