<h1>Listing Kite Strings</h1>

<div id="kitestringSearch" class="span3 form-search form-inline">
	<%= render :partial => 'sharedpurposes/search' %>
</div>

<% if @sharedpurposes.count == 0 %>
	<p>No records found matching your criteria</p>
<% else %>
	<table class="table table-bordered table-striped">
	  <tr>
	    <th>Name</th>
	    <th></th>
	    <th></th>
	    <th></th>
	  </tr>
	
	<% @sharedpurposes.each do |sharedpurpose| %>
	  <tr>
	    <td><%= sharedpurpose.name %></td>
	    <td><%= link_to 'Show', sharedpurpose %></td>
	  </tr>
	<% end %>
	</table>
<% end %>


