<h1>Create a new Shared Purpose Group</h1>
<p>A Shared purpose group is a place where you can share
a specific goal with other LifeKite users.</p>
<%= render 'form' %>

<%= link_to 'Back', current_user %>