<div class="kitepost">
	<%= content_tag(:p, kite_post.FormattedCreateDate, :class => "dateline") %>
	<%= content_tag(:p, auto_link(simple_format(formatless_tags(kite_post.text))))%>
	<% if !kite_post.image.nil? %>
		<%= image_tag kite_post.image.url %>
	<% end %>	
</div>
