.kites {
  border-top-style:dotted;
  margin-top: 20px;
  padding-top: 20px;
}

.main-kites {
  display: inline-block;
  width: 70%;
  vertical-align: top;
}


.side-kites {
  display: inline-block;
  width: 24%;
  vertical-align: top;
}

.side-kites ul {
  height: 1.5em;
  border-bottom-style:dotted;
  padding-bottom: 5px;
}

.side-kites li {
  list-style: none;
  float: left;
  width: 49%;
  text-align: center;
}

.side-kites li.ui-state-active {
  background-color: #EB615E;
}

.side-kites li.ui-state-active h3 {
  color: white;
}


#all-kitescontainer, #tied-kitescontainer {
  display: inline-block;
  padding: 20px;
}

.kitescontainer {
  display: inline-block;
}

#all-kitescontainer.ui-tabs-hide, #tied-kitescontainer.ui-tabs-hide {
   display: none;
}

.mini-kite{
  float: left;
  width: 100px;
  height: 100px;
  margin: 11px;
}


.thumb-kite, .user-kite, .fake-kite{
  float: left;
  width: 215px;
  height: 215px;
  margin: 10px;
}


.main-kites h2, .side-kites h2 {
  text-align: center;
  color: #4088B8;
}

.side-nav h2 {
  display: inline-block;
  width: 49%;
}

.dotted {
  border-bottom-style:dotted;
  padding-bottom: 5px;
}

.content-header.welcome {
  margin-bottom: 75px;
}

.signup-img{
  width:20%;
  display:block;
  position:absolute;
  left:0;
  right:0;
  top: 290px;
  margin:auto;
  z-index: 1000;
}

.dashed-separator {
  width: 70%;
  border-bottom: 2px dashed #6a4256;
  margin: 15px auto;
}
