.kites {
  border-top-style:dotted;
  margin-top: 20px;
  padding-top: 20px;
}

.main-kites {
  display: inline-block;
  width: 70%;
  vertical-align: top;
}


.side-kites {
  display: inline-block;
  width: 24%;
  vertical-align: top;
}

.side-kites li {
  list-style: none;
  float: left;
  width: 49%;
  text-align: center;
}

.side-kites li.ui-state-active {
  background-color: #EB615E;
}

.side-kites li.ui-state-active h3 {
  color: white;
}


#all-kitescontainer, #tied-kitescontainer {
  display: inline-block;
  padding: 20px;
}

#all-kitescontainer.ui-tabs-hide, #tied-kitescontainer.ui-tabs-hide {
   display: none;
}

.mini-kite{
  float: left;
  width: 100px;
  height: 100px;
  margin: 11px;
}


.thumb-kite, .user-kite{
  float: left;
  width: 215px;
  height: 215px;
  margin: 11px;
}


.main-kites h2, .side-kites h2 {
  text-align: center;
  color: #4088B8;
}

.side-nav h2 {
  display: inline-block;
  width: 49%;
}
