.main-kites {
  display: inline-block;
  width: 70%;
  vertical-align: top;
}


.side-kites {
  display: inline-block;
  width: 386px;
  vertical-align: top;
}

.side-kites ul {
  height: 1.5em;
}

.side-kites li {
  list-style: none;
  float: left;
  width: 170px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
}

.h3-like {
  color: #4088B8;
  font-size: 19px;
  font-weight: bold;
  display: inline-block;
}

.side-kites li a {
  height: 100%;
  width: 95%;
}

.side-kites li.ui-state-active a {
  background-color: #EB615E;
  color: white;
}

#all-kitescontainer, #tied-kitescontainer {
  display: inline-block;
  padding: 10px;
}

.kitescontainer {
  display: inline-block;
}

#all-kitescontainer.ui-tabs-hide, #tied-kitescontainer.ui-tabs-hide {
   display: none;
}

.mini-kite{
  float: left;
  width: 100px;
  height: 100px;
  margin: 11px;
}


.thumb-kite, .user-kite, .fake-kite{
  float: left;
  width: 215px;
  height: 215px;
  margin: 10px;
}


.main-kites h2, .side-kites h2 {
  text-align: center;
  color: #4088B8;
}

.side-nav h2 {
  display: inline-block;
  width: 49%;
}

.dotted {
  border-bottom-style:dotted;
  padding-bottom: 5px;
}

.content-header.welcome {
  margin-bottom: 75px;
}

.signup-img{
  width:20%;
  display:block;
  position:absolute;
  left:0;
  right:0;
  top: 290px;
  margin:auto;
  z-index: 1000;
}

.dashed-separator {
  width: 70%;
  border-bottom: 2px dashed #053448;
  margin: 15px auto;
}

.dashed-separator.light {
  border-bottom-color: #36878C;
}

.wide-10 {
  width: 10%;
}

.wide-90 {
  width: 90%;
}

.side-kites .side-nav li {
  border-right: 2px dashed #36878C;
  margin-right: 5px;
}

.side-kites .side-nav li.tab-last {
  border-right: 0 none;
  margin-right: 0;
}

.ui-tabs-nav {
  padding-left: 20px;
}