<div class="search">
	<%= form_tag(kite_general_search_kites_path, method: "get") do %>
		<%= text_field_tag(:text, nil, placeholder: "Search", class: 'search-input')%>
		<%= image_submit_tag("/images/search-button.png", class: 'search-button', width:"23", height: "22") %>
	<%end%>
</div>
