
<div class="sidebar" style="z-index: 100">
	<a href=<%= edit_user_registration_path %>>
	<div class="profile sidebar-button">
		<div class="active-flag">Profile</div>
	</div>
	</a>
	<a href=<%= new_kite_path %>>
	<div class="add-kite sidebar-button">
		<div class="active-flag">Add Kite</div>
	</div>
	</a>
	<a href=<%= personalIndex_kites_path %>>
	<div class="kites sidebar-button">
		<div class="active-flag">My Kites</div>
	</div>
	</a>
	<a href=<%= mySupportIndex_kites_path %>>
	<div class="groups sidebar-button">
		<div class="active-flag">Member Kites</div>
	</div>
	</a>
	<a href="">
	<div class="help sidebar-button">
		<div class="active-flag">Help</div>
	</div>
	</a>
</div>