
<div class="sidebar" style="z-index: 100">
	<a href=<%= edit_user_registration_path %>>
	<div class="profile sidebar-button">
		<div class="active-flag">Profile</div>
	</div>
	</a>
	<a href=<%= new_kite_path %>>
	<div class="add-kite sidebar-button">
		<div class="active-flag">Add Kite</div>
	</div>
	</a>
	<a href=<%= kites_path %>>
	<div class="kites sidebar-button">
		<div class="active-flag">Kites</div>
	</div>
	</a>
	<a href=<%= groups_path%>>
	<div class="groups sidebar-button">
		<div class="active-flag">Groups</div>
	</div>
	</a>
	<div class="help sidebar-button">
		<div class="active-flag">Help</div>
	</div>
</div>